<a href="https://colab.research.google.com/github/Florrap/Florrap/blob/main/Week_3_Classwork_Notebook.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Week 3: Printing and Data Types**
---

### **Description**
In this week, we will familiarize ourselves with printing statements and creating variables.

<br>


<br>

### **Learning Objectives**
By the end of this lab, we will:
* Learn how to print strings
* Create variables to store strings

<a name="p1"></a>

---
## **Part 1: Printing Strings**
---

#### **Problem #1.1**

**Together**, let's print a hobby!

In [ ]:
print("Soccer")

#### **Problem #1.2**

**Independently**, let's print your favorite food!

In [ ]:
print("Nuts")

<a name="p1"></a>

---
## **Part 2: Variables**
---


### Remember, variable rules:

* Variable names can contain only letters, numbers, and underscores
* Can’t start with number. Spaces are not allowed in variable names
* Underscores can be used to separate words
* Avoid using Python keywords and function
* Short but descriptive
* Careful when using the lowercase letter l and the uppercase letter O (confusing with numbers 1 and 0)

#### **Problem #2.1**

**Together**, let's create a variable for a favorite color

In [1]:
Color = input("Skin color: ")
print("I like the color " + Color)

Skin color: Yellow
I like the colorYellow

#### **Problem #2.2**

**Independently**,  store your favorite food.

In [3]:
Food = "Nuts"
print(Food)

Nuts

#### **Problem #2.3**

**Independently**,  store your name in the variable: name. Print your name. Change the variable into your friend's name. Print again.

In [11]:
namo = "Runqi"

namf = "Zejia"

print(namo, namf)

Runqi Zejia

<a name="p1"></a>

---
## **Part 3: Strings**
---


### **Remember, what is a string?**

* The first data type we’ll look at is the string.
* Strings are quite simple at first glance, but you can use them in many different ways.
* A string is simply a series of characters.
* Anything inside quotes is considered a string in Python, and you can use single or double quotes around your strings like this:
*   -"This is a string."
*   -'This is also a string.'

#### **Problem #3.1 (name.title())**

**Together**, take a look at this example!

In [ ]:
name = "aDa LovElace!"

#### **Problem #3.2 (name.lower())**

**Together**, take a look at this example!

In [ ]:
name = "aDa LovElace!"

#### **Problem #3.3 (name.upper())**

**Together**, take a look at this example!

In [ ]:
name = "aDa LovElace!"

#### **Problem #3.4 (string concatenating)**

**Together**,  Store a last name and a first name and combine them through concatenating to create a full name.

In [ ]:
first_name = "Jane"
last_name = "Doe"

<a name="p1"></a>

---
## **Part 4: Numbers**
---


### **Remember, what are number data types?**

* Integers are whole numbers without decimal point
* Floats are  any number with a decimal point
* They can be stored the same way as strings just without the quotation marks

#### **Problem #3.1**

**Together**, let's add two numbers!

In [14]:
print(1+2*3/4%5)

2.5

#### **Problem #3.2**

**Independently**, multiply or divide two numbers!

In [13]:
print(1+2*3/4%5)

2.5

#### **Problem #3.3**

**Together**, take a look at this example!

In [ ]:
number_of_fruits = 19
number_of_vegetables = 4

#### **Problem #3.4**

**Independently**, create variables and use operations to manipulate them.

In [16]:
uno = 1
dos = 2
thres = 3
cuatro = 4
cinco = 5
sies = 6

print(uno + dos * thres / cuatro % cinco + sies)

8.5

<a name="p1"></a>

---
## **Part 5: Other Data Types**
---


### **Remember, what are number data types?**

* Comments aren’t data types but are useful to know
* The hash mark (#) indicates a comment
* Eg. #this line of code prints something To make notes to yourself to keep code organized

#### **Problem #3.1**

**Together**, create a comment.

In [ ]:
length = 2
width = 10
area = length*width

#### **Problem #3.2**

**Independently**, independently create a comment!

In [ ]:
budget = 100
price_of_each_fruit = 5.50
number_of_fruits = 7
leftover = budget - (price_of_each_fruit*number_of_fruits)

# This code finds how much money you have after buying 7 fruits that cost $5.50

In [ ]:
number_of_fruits = 19
number_of_vegetables = 4

# This stores two variables called number_of_fruits & number_of_vegetables